@import "tailwindcss";
@import "tw-animate-css";

:root {
  --shaadipic-deep-rose: #C41E3A;
  --shaadipic-gold: #F4C430;
  --shaadipic-charcoal: #2D3748;
  --shaadipic-warm-cream: #FFFBF5;
  --shaadipic-text: #1A202C;

  /* tonal variants (helpers) */
  --shaadipic-deep-rose-50: rgba(196,30,58,0.06);
  --shaadipic-gold-30: rgba(244,196,48,0.12);
}

@font-face {
    font-family: 'Aboreto';
    src: url('/fonts/Aboreto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lexend Giga';
    src: url('/fonts/LexendGiga-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar{
  width: 0px;
}
